body{
    padding: 10px;
    margin-bottom: 50px;
}

.container-title{
    margin: 20px;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 22px;
}

.container-principal{
    display: flex;
    justify-content: center;
}

.accordion{
    width: 500px;
}

.container-paragraph{
    display: flex;
}

.container-paragraph .card{
    margin: 0 39px;
}

.container-paragraph .card img{
    height: 150px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: #F8F9FA;
    padding: 20px;
}

footer form{
    width: 500px;
}